header {
    padding: 30px;
    
    h1 {
        font-weight: lighter;
        text-align: center;
    }
}

main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-size: 120%;

    .column {
        width: (1 / 2) * 100% - 2;
        padding: 1%;

        article {
            margin-bottom: 50px;

            h1 {
                font-size: 140%;
                font-weight: lighter;
            }
        }
    }
}

.read-more {
    color: #0397d3;
    cursor: pointer;
}

.article {

    .article__content--wrapper {
    
        .article__content {
            transition: max-height .6s cubic-bezier(.785,.135,.15,.86);
        }
    
        .article__overlay {

        }
    }

    .article__btn {
        color: #0397d3;
        cursor: pointer;
        margin-top: 15px;
    }
}


